// Slide Carousel
// ----------------------------------------

$ratio-padding: (484%/8.66);
.slide {
  .slide-nav {
    position: absolute;
    top: 0;
    height: 100%;
    width: 6em;
    padding: 0;
    //background: none;
    background: url(#{$asset-path}/arrow-next.svg) no-repeat center/35%;
    cursor: pointer;
    border: none;
    outline: none;
    user-select: none;
    min-width: 0;
    z-index: 1;

    &:hover {
      opacity: .7;
      //&:after {
      //  transform: scale(1.1);
      //}
    }

    &.btn-prev {
      left: 0;
      transform: scaleX(-1); // horizontal flip
      background-position: 60% center;
    }

    &.btn-next {
      right: 0;
      background-position: right 40% center;
    }

    &:disabled {
      opacity: 0;
    }

    @include media-breakpoint-down(sm) {
      width: 2em;
      background-position: center;
      background-size: 50%;
    }
    @media (orientation: portrait) and (max-width: 600px)  {
      width: 2em;
      background-position: center;
      background-size: 35%;
      &.btn-prev {
        background-position: 70% center;
      }

      &.btn-next {
        background-position: right 30% center;
      }
    }
  }

  // Override
  // ----------------------------------------

  .owl-nav {
    display: none;
  }

  .owl-dots {
    position: absolute;
    bottom: 2em;
    width: 100%;
    z-index: 9;
    //background: #ff1d10;
    $dot-size: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ffffff;

    .owl-dot {
      padding: .5em;
      cursor: pointer;

      span {
        display: block;
        width: $dot-size;
        height: $dot-size;
        box-sizing: border-box;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          background: currentColor;
          border-radius: 100%;
          transform: scale(.4);
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          display: block;
          border: 2px solid currentColor;
          border-radius: 100%;
          transform: scale(0);
          transition: transform .2s;
        }
      }

      @mixin carousel-dot-active {
        span:before {
          display: none;
        }
        span:after {
          transform: scale(1);
        }
      }

      &.active {
        @include carousel-dot-active;
      }

      @media (hover: none) {
        &:hover {
          @include carousel-dot-active;
        }
      }
    }
  }

  // Slide Counter
  // ----------------------------------------

  .slide-counter {
    position: absolute;
    right: 1.2em;
    bottom: 1em;
    color: #ffffff;
    z-index: 1;
    @include media-breakpoint-down(sm) {
      font-size: 10em/$fs;
      right: .5rem;
      bottom: .25em;
    }
  }

  // Only one item
  // ----------------------------------------
  &.slide-one-item {
    .slide-nav {
      display: none;
    }
  }
}

.slide-item {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  figure {
    margin-bottom: 0;
  }

  &:hover {
    text-decoration: none;
  }

  img {
    width: 100%;
  }

}

// Slide Carousel : Blog Page Only
// ----------------------------------------

.slide-center {

  // For smoother experience
  .owl-item {
    .slide-item {
      pointer-events: none;
    }

    &.active {
      &.center {
        .slide-item {
          &:hover {
            .slide-content {
              opacity: .5;
            }
          }

          pointer-events: auto;
        }
      }
    }
  }

  figure {
    // remove the gradient
    &:after {
      display: none;
    }
  }

  .slide-cover-image {
    width: 100%;
    padding-bottom: $ratio-padding;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s;
    position: relative;

    .video-play {
      $width: 10%;
      cursor: pointer;
      position: absolute;
      z-index: 2;
      background: url(#{$asset-path}/icon-play.svg) no-repeat center/contain;
      width: $width;
      padding-bottom: $width;
      top: 50%;
      left: 50%;
      margin-left: -$width/2;
      margin-top: -$width/2;
      transition: transform .2s, opacity .2s;

      &:hover {
        transform: scale(1.1);
      }
    }

  }

  h3 {
    font-size: (18em/$fs);
    letter-spacing: 0.025em;
    margin: 0 0 .1em 0;
  }

  p {
    font-size: (18em/$fs);
    margin: .5em 0 1em 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .slide-item {
    &:after {
      display: none;
    }
  }

  // put it inside the shifted background
  .slide-content {
    margin: 1.1em 2.5em 1.1em 0;
    @include media-breakpoint-down(md) {
      margin: 1em 1.75em 1em 0;
    }
  }

  .owl-stage-outer {
    z-index: 1;
  }

  // Dots
  .owl-dots {
    margin-top: 3em;
    position: relative;

    .owl-dot {
      background: #e1dedc;
      width: 3em;
      height: 3px;
      padding: 0;
      transition: background-color .2s;

      &.active {
        background: #505050;
      }

      span {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .video-play {
      opacity: 0;
    }
    .slide-content {
      opacity: 0;
      transition: opacity .5s;
    }
    .slide-cover-image {
      transform: scale(.97);
    }
    // Active & Center
    .owl-item.active.center {
      .slide-cover-image {
        transform: scale(1);
      }

      .slide-content {
        opacity: 1;
      }

      .video-play {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .slide-nav {
      display: none;
    }
    .slide-item {
      padding-left: (22em/$fs);
      padding-right: (22em/$fs);
    }
  }
}


// Slide Carousel : Centered Style
// ----------------------------------------
.slide-centered {

  // For smoother experience
  .owl-item {
    .slide-item {
      pointer-events: none;
    }

    &.active.center {
      figure {
        transform: scale(1);
      }

      .slide-item {
        .slide-content {
          opacity: 1;
        }

        &:hover {
          .slide-content {
            opacity: .5;
          }
        }

        pointer-events: auto;
      }
    }
  }

  figure {
    transition: transform .2s;
    transform: scale(.97);

    &:after {
      // remove the gradient
      display: none;
    }

    .gallery-thumb {
    }

    figcaption {
    }
  }

  .gallery-thumb-wrap {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: $ratio-padding;
  }

  .gallery-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all .5s;
  }

  // put it inside the shifted background
  .slide-content {
    opacity: 0;
    margin: 1.1em 2.5em 1.1em 0;
    @include media-breakpoint-down(md) {
      margin: 1em 1.75em 1em 0;
    }
  }

  .caption-text {
    display: none !important;
  }

  h3 {
    font-size: (18em/$fs);
    letter-spacing: 0.025em;
    margin: 0 0 .1em 0;
  }

  p {
    font-size: (18em/$fs);
    margin: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .slide-item {
    &:after {
      display: none;
    }
  }

  .owl-stage-outer {
    z-index: 1;
  }

  // Dots
  .owl-dots {
    margin-top: 3em;
    position: relative;

    .owl-dot {
      background: #e1dedc;
      width: 3em;
      height: 3px;
      padding: 0;
      transition: background-color .2s;

      &.active {
        background: #505050;
      }

      span {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .video-play {
      opacity: 0;
    }
    .slide-content {
      opacity: 0;
      transition: opacity .5s;
    }
    .slide-cover-image {
      transform: scale(.97);
    }
    // Active & Center
    .owl-item.active.center {
      .slide-cover-image {
        transform: scale(1);
      }

      .slide-content {
        opacity: 1;
      }

      .video-play {
        opacity: 1;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .owl-item.active.center:hover {
      .slide-content {
        opacity: 1 !important;
      }
    }
    p {
      font-size: 16em/$fs;
    }
    .slide-nav {
      display: none;
    }
    .slide-item {
      padding-left: (22em/$fs);
      padding-right: (22em/$fs);
    }
  }
}

// The Center Background (added via javascript)
.slide-center-bg {
  $width: 50%;
  position: absolute;
  width: $width;
  height: (calc(100% - 2.5em));
  background: #f1f1f1;
  left: 23%;
  bottom: 3.5em;
  z-index: 0;
  @include media-breakpoint-down(sm) {
    width: 88%;
    left: (11em/$fs);
    margin-top: 0;
    top: unset;
    bottom: 3.5em;
    padding-bottom: 0;
    height: 74%;
  }
}

// Related Item Slide : will look like normal one-row grid.
// ----------------------------------------
.slide-related {
  .owl-dots {
    margin-top: 2em;
    position: relative;
    color: $primary;

    @include media-breakpoint-down(sm) {
      margin-top: 1em;
    }
  }
}

// For Custom Cursor
// ----------------------------------------
//.slide:not(.slide-center):not(.slide-centered) {
//
//  @media (hover: hover) {
//    .slide-nav {
//      width: 18%;
//      opacity: 0;
//
//      &:disabled {
//        cursor: auto !important;
//      }
//    }
//    .btn-prev {
//      cursor: url(#{$asset-path}/icon-chevron-left.svg), auto;
//    }
//    .btn-next {
//      cursor: url(#{$asset-path}/icon-chevron-right.svg), auto;
//    }
//  }
//}


// Grouped Changed (slide fullwidth) [fullwidth-change]
// ----------------------------------------
.slide:not(.slide-center):not(.slide-centered) {
  @include media-breakpoint-down(lg) {
    @include screen-width;
  }
}

// [caption-change]
#fac-shows {
  .slide-center-bg {
    display: none;
  }
  .slide-content {
    display: none;
  }
}
