
.btn-plain {
  display: inline-block;
  outline: none;
  user-select: none;
  text-align: center;
  border: none;
}

// Color
// ----------------------------------------
.color-primary {
  color: $primary
}

.color-secondary {
  color: $secondary;
}

.color-3 {
  color: $color-3;
}

.color-4 {
  color: $color-4;
}

.color-5 {
  color: $color-5;
}

.font-script {
  font-family: $font-family-script;
}

// Layout
// ----------------------------------------

.nav-padding {
  padding-top: $nav-height;
  @include media-breakpoint-down(lg) {
    padding-top: $nav-height-mb;
  }
  @include media-breakpoint-down(sm) {
    padding-top: $nav-height-mb;
  }

  .no-register-btn & {
    @include media-breakpoint-down(sm) {
      padding-top: $nav-height-mb;
    }
  }
}

@mixin screen-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  width: 100vw;
}

.screen-width {
  @include screen-width;
}

.bg-center-cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-center-contain {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.last-section {
  background: linear-gradient(0deg, #e5eae7 0%, rgba(255, 255, 255, 0) 15em);
  position: relative;
  padding-bottom: 10em;
  &:after {
    padding: 0 1em 2.5em 1em;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 0;
    font-size: (14em/$fs);
    color: $secondary;
  }

  @include media-breakpoint-down(md) {
    &:after {
      font-size: (10em/$fs);
    }
  }
}

// SVG
// ----------------------------------------
.current-color {
  fill: currentColor;
  stroke: currentColor;
}
