// Back to Top
// ----------------------------------------
#backToTop {
  //position: fixed;
  right: $toggle-right;
  bottom: 1em;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  width: (42em/$fs);
  min-width: 0;
  padding: 0;
  z-index: 2;
  background: #ffffff;
  opacity: 0;
  transition: height .1s ease, opacity .1s ease, margin-top .1s linear;
  height: 0;
  margin-top: 0;

  &.active {
    transition: height .2s, opacity .1s ease .2s, margin-top .2s linear;
    opacity: 1;
    margin-top: .65rem;
    height: (42em/$fs);
  }

  img {
    width: 1em;
    height: 1em;
    right: $toggle-right;
    transform: translateY(-10%);
    transition: transform .2s;
  }

  &:hover {
    img {
      transform: translateY(-10%) scale(1.2);
    }
  }
}

// Chat
// ----------------------------------------
.btn-chat {
  min-width: 0;
  bottom: 4.5em;
  width: (37em/$fs);
  height: (37em/$fs);
  margin: 0 0 .1rem 0;
  transition: opacity .2s;
  z-index: 2;
  opacity: 1;
  cursor: pointer;
  background: none;
  border: none;
  display: block;
  padding: 0;
  color: $primary;
  overflow: visible;
  svg {
    width: (35em/$fs);
    height: (35em/$fs);
    margin-right: -.5em;
  }

  //svg {
  //  width: 100%;
  //}

  &:hover {
    opacity: .5;
  }
}

#sideButtons {
  position: fixed;
  right: $toggle-right;
  bottom: 1em;
  z-index: 2;
  overflow: visible;
  @include media-breakpoint-down(sm) {
    right: 1em;
  }
}

#sideRegisterBtn {
  position: absolute;
  left: -.5rem;
  bottom: 0;
  transform: translate(-100%, 0);
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2);
  display: none;
  height: 42rem/$fs;
  padding: .7rem .7rem;
  font-size: 12em/$fs;
  font-weight: normal;
  letter-spacing: .05em;
  min-width: auto;
  @include media-breakpoint-down(md) {
    display: inline-block;
  }
}

// Image Caption
// ----------------------------------------
.forestias-img {
  position: relative;
  &.with-disclaimer {

  }
  &:after {
    content: '';
    height: 6em;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .4) 10%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  &.no-caption {
    &:after {
      display: none;
    }
  }
  figcaption {
    position: absolute;
    bottom: 1em;
    left: 1.5em;
    letter-spacing: .025em;
    z-index: 1;
    font-weight: normal;
    color: #ffffff;
    .caption-text {
      display: none !important; // Hide caption text per client request [caption-change]
      color: currentColor;
      font-size: (18em/$fs);
    }
    .caption-disclaimer {
      color: currentColor;
      font-size: (10em/$fs);
      display: block;
      clear: both;
    }
    @include media-breakpoint-down(xl) {
      font-size: (14em/$fs);
    }

    @include media-breakpoint-down(lg) {
      font-size: (12em/$fs);
    }

    @include media-breakpoint-down(sm) {
      font-size: (10em/$fs);
      bottom: .5em;
      left: 1em;
      .caption-notice {
        font-size: (10em/$fs);
      }
    }
  }
}

// Deprecated
.img-caption {
  position: absolute;
  bottom: 1em;
  left: 1.5em;
  letter-spacing: .025em;
  z-index: 1;
  font-weight: normal;
  color: #ffffff;

  .caption-text {
    color: currentColor;
    font-size: (18em/$fs);
  }

  .caption-notice {
    color: currentColor;
    font-size: (14em/$fs);
    display: block;
    clear: both;
  }

  @include media-breakpoint-down(xl) {
    font-size: (14em/$fs);
  }

  @include media-breakpoint-down(lg) {
    font-size: (12em/$fs);
  }

  @include media-breakpoint-down(sm) {
    font-size: (10em/$fs);
    .caption-notice {
      font-size: (10em/$fs);
    }
  }
}

.with-notice {
  position: relative;
  &.notice-color-secondary {
    .img-caption {
      color: $secondary;
    }
  }
  &.notice-text-center {
    .img-caption {
      width: 100%;
      left: 0;
      text-align: center;
    }
  }
}

// For single image
.img-wrap {
  position: relative;

  img {
    width: 100%;
  }
}

// Section
// ----------------------------------------
section {
  //border-top: 1px solid #ffffff;
  position: relative;
  z-index: 1;
  //overflow-x: hidden;
}

.mb-100vw {
  @include media-breakpoint-down(sm) {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
  }
}

// Accordion
// ----------------------------------------
.tac-accordion {
  .acc-inner {
    display: flex;
  }

  .acc-head {
    cursor: pointer;
    display: block;
    //background: #ff1d10;
  }

  .acc-side {
    display: none;
    &.active {
      display: block;
    }
  }

  .acc-content-wrap {
    position: relative;
    //height: 0;
    overflow: hidden;
  }

  .acc-content {
    //transition: height .2s ease .1s;
  }

  @include media-breakpoint-down(md) {
    .acc-side-wrap {
      display: none;
    }
    .acc-item-wrap {
      width: 100%;
    }
    .acc-side {
      display: block;
    }
    .acc-item {
      &.active {
        .acc-side {
          display: block;
        }
      }

      border-bottom: 1px solid #888888;
    }
    .acc-head {
      background: transparent url(#{$asset-path}/select-arrow-primary.svg) no-repeat right .25em top 50%/.8em;
      text-align: left;
      padding-right: .75em;
    }
  }

}

// Hero
// ----------------------------------------

.hero-container {
  position: relative;
}

.hero-logo {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: (753em/$fs);

  img {
    width: 100%;
  }

  p {
    color: #ffffff;
    display: block;
    font-size: (28em/$fs);
    margin: .75em 0 0 0;
    letter-spacing: .025em;
  }

  @include media-breakpoint-down(sm) {
    top: 50%;
    width: 100%;
    box-sizing: border-box;
    padding: 0 2em;

    p {
      box-sizing: border-box;
      font-size: (18em/$fs);
      padding: 0 2em;
      margin-top: 1em;
      line-height: 1.2;
    }
  }
}

// Video
// ----------------------------------------
.video-wrap {
  width: 100%;
  height: 0;
  padding-bottom: (100%*(9/16));
  position: relative;
}

.absolute-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

// Pagination
// ----------------------------------------
.tac-pagination {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: $color-text-2;

  svg {
    width: (28em/$fs);
    height: (28em/$fs);
  }

  .tp-link, .tp-icon {
    display: block;
    min-width: 1.2em;
    text-align: center;
    position: relative;
    padding: .4em .6em;
    transition: opacity .2s;
    color: $color-text-2;

    &.active, &:hover {
      text-decoration: none;
      opacity: .5;
      //color: $color-text-1;
    }
  }

  .tp-link {
    line-height: 1;
    font-size: (32em/$fs);

    &.active {
      pointer-events: none;
      color: $color-text-1;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: currentColor;
        transform: scaleX(.7);
      }

    }
  }

  .tp-dots {
    padding: .35em .4em 0 .4em;
    line-height: 1;
    font-size: (32em/$fs);
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    .tp-link {
      font-size: (19em/$fs);
      &.active {
        &:after {
          content: '';
          height: 2px;
        }
      }
    }
    .tp-dots {
      font-size: (19em/$fs);
    }
    svg {
      width: (15em/$fs);
      height: (15em/$fs);
    }
  }
}

// Tabs
// ----------------------------------------
.tac-tab {
  .tt-tabs {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #e1dedc;
    margin: -2em 0 1em 0;

    .tt-tab-item { // a
      display: block;
      padding: 0 1em 1em 1em;
      line-height: 1.1;
      font-size: (18em/$fs);
      color: $color-text-2;
      margin-bottom: -1px;
      position: relative;
      transition: color .2s;

      &:last-child {
        padding-right: 0;
      }

      &:hover {
        color: $color-text-1;
        text-decoration: none;
      }

      &.active {
        pointer-events: none;
        color: $color-text-1;
        font-weight: bold;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 3px;
          background-color: currentColor;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    .tt-tabs {
      justify-content: flex-start;
      margin: 1.2em 0 0 0;

      .tt-tab-item {
        margin-right: 1em;
        padding: 0 .5em 1em .5em;
        &:last-child {
          padding-right: 1em;
        }

        &:first-child {
          //padding-left: 0;
        }
      }
    }
  }
}

// Back Button
// ----------------------------------------
.btn-back {
  color: $primary;
  display: flex;
  align-items: center;
  padding: 2em 0;
  svg {
    width: 1em;
    height: 1.5em;
    flex-shrink: 0;
    margin: 0 .5em 0 0;
    transition: transform .2s;
  }
  span {
    font-size: (18em/$fs);
    font-weight: bold;
    flex-shrink: 0;
    margin: 0 .5em 0 0;
  }
  &:after {
    content: '';
    border-top: 1px solid $color-bg-2;
    flex-grow: 1;
    flex-shrink: 1;
  }
  &:hover {
    svg {
      transform: scale(1.1);
    }
  }
}

// Other Scroll Container (not the main one)
// ----------------------------------------
.scroll-container {
  position: relative;
  height: 100%;
  width: 100%;
}
