.gradient-reveal {
  position: relative;
  overflow: hidden;
  opacity: 0;
  &:after {
    content: '';
    position: absolute;
    width: 200%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: url(#{$asset-path}/gradient-white-45.png) no-repeat center/cover;
    transform: translate3d(-49%, 0, 0);
  }
  &.aos {
    opacity: 1;
    //transition: opacity .25s;
    &:after {
      transition: transform 2.5s;
      transform: translate3d(100%, 0, 0);
    }
  }
}

body.lang-th {
  h2.gradient-reveal {
    padding-top: .2em;
    margin-top: -.2em;
  }

  h3.gradient-reveal {
    padding-top: .2em;
    margin-top: -.2em;
  }

  h4.gradient-reveal {
    padding-top: .2em;
    margin-top: -.2em;
  }

  h5.gradient-reveal {
    padding-top: .2em;
    margin-top: -.2em;
  }
}
