.footer {
  //height: (359em/$fs); // 423 original
  box-sizing: border-box;
  padding: 2.2em 0 2.2em 0;
  background: $primary;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: #fff;
  position: relative;
  height: auto;

  .container {
    max-width: ((1395em+123*2)/$fs);
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
  }

  // Common
  // ----------------------------------------

  a {
    text-decoration: none;
    transition: opacity .1s;
    &:hover {
      text-decoration: none;
      opacity: .5;
    }
  }

  // Top Row
  // ----------------------------------------
  .footer-top {
    display: flex;
  }

  .footer-logos {
    margin: 0 0 .5em 0;
    a {
      margin: 0 1.25em 0 0;
      img {
        height: (56em/$fs);
        width: auto;
      }
    }
  }

  // Middle Row
  // ----------------------------------------
  //.footer-row-middle {
  //  display: flex;
  //  justify-content: space-between;
  //  margin: 0 0 4.75em 0;
  //}
  .footer-links {
    list-style: none;
    margin: 3.5em 0 0 0;
    padding: 0;
    li {
      float: left;
      &:first-child a {
        padding-left: 0;
      }
      &:last-child a {
        padding-right: 0;
      }
    }
    a {
      //float: left;
      text-transform: uppercase;
      display: block;
      color: #ffffff;
      text-decoration: none;
      font-weight: 500;
      font-size: (16em/$fs);
      padding: 1em 1.25em;
      line-height: 1.1;
      letter-spacing: .1em;
    }
  }

  // Subscribe
  .footer-subscribe {
    width: 100%;
    max-width: (476em/$fs);
    margin: 0 0 1em auto;
    align-self: flex-end;
    h5 {
      font-weight: 600;
      letter-spacing: .025em;
      font-size: (18em/$fs);
      margin: 0 0 .6em 0;
    }
    .form-wrap {
      display: flex;
    }
    input[type="text"] {
      height: (44rem/$fs);
      line-height: 1.4;
      box-sizing: border-box;
      flex-shrink: 1;
      margin: 0 1em 0 0;
      &::placeholder {
        //font-size: (18em/$fs);
        //color: $color-text-2;
      }
    }
    button {
      flex-shrink: 0;
      height: (44rem/$fs);
      span {
        font-size: (16em/$fs);
      }
    }
  }

  // Row Bottom
  // ----------------------------------------
  .footer-bottom {
    display: flex;
    margin: 1em 0 0 0;
  }

  .footer-copyright {
    margin-top: 2.25rem;
    line-height: 1;
    font-size: (14em/$fs);
  }

  .socials-call-wrap {
    display: flex;
    margin: 0 0 0 auto;
  }

  .footer-socials {
    display: flex;
    margin: .3em 0 0 auto;
    a {
      display: block;
      margin: 0 1.25em 0 0;
    }
    img {
      width: (40em/$fs);
    }
  }

  .footer-call {
    display: flex;
    margin: 0 0 0 .75em;

    img {
      height: (50em/$fs);
    }

    .call-content {
      margin: 0 0 0 .5em;
    }
    .call-text {
      font-size: (13em/$fs);
      line-height: 1;
      margin: 0 0 .4em 0;
    }
    .call-number {
      font-weight: bold;
      font-size: (30em/$fs);
      letter-spacing: .1em;
      color: #ffffff;
      line-height: 1;
    }
  }


  @include media-breakpoint-down(xl) {
    .footer-top{
      position: relative;
      flex-direction: column;
    }

    .footer-subscribe {
      position: absolute;
      right: 0;
      top: 0;
      .form-wrap {
        //flex-wrap: wrap;
      }
    }
  }


  @include media-breakpoint-down(md) {

    padding: 2.5em 0 2.5em 0;
    height: auto;
    position: relative;
    .footer-inner {
      height: auto;
    }
    .footer-subscribe {
      position: static;
      margin: 0 auto 3em auto;
    }
    .footer-top {
      flex-direction: column-reverse;
    }
    .footer-bottom {
      margin: 1em 0 0 0;
    }

    .footer-links {
      margin: 1.75em 0 0 0;
      $gutter: 1em;
      width: calc(100% + #{$gutter});
      margin-left: #{-$gutter/2};
      margin-right: #{-$gutter/2};
      li {
        padding-left: #{$gutter/2};
        padding-right: #{$gutter/2};
        width: (100%/3);
      }
      a {
        padding: 1em 0;
      }
    }

  }
  @include media-breakpoint-down(sm) {
    padding: 2.5em 0 1em 0;
    height: auto;
    // swapping
    .footer-inner {
      height: auto;
    }
    .footer-top {
      flex-direction: column-reverse;
    }
    .footer-logos {
      margin-top: 1.25em;
      a {
        img {
          height: (40em/$fs);
        }
      }
    }
    .footer-row-middle {
      flex-wrap: wrap;
    }
    .footer-links {
      margin-top: 1.75em;
      li {
        width: 50%;
      }
      a {
        padding: .75em 0;
        box-sizing: border-box;
        font-weight: normal;
      }
    }
    .footer-subscribe {
      margin: 0 0 .5em 0;
      position: static;
      h5 {
        text-align: center;
        margin: 0 auto 1em auto;
        max-width: 15em;
        line-height: 1.3;
      }
      .form-wrap {
        flex-wrap: nowrap;
      }
      input[type="text"] {
        width: 100%;
        margin: 0 0 (20em/$fs) 0;
        height: (50rem/$fs);
        flex: 0 0 60%;
        &::placeholder {
          font-size: 12em/$fs;
        }
      }
      .btn {
        width: 100%;
        height: (50rem/$fs);
        flex: 0 0 40%;
        margin: 0 0 0 .4rem;
      }
    }
    .footer-bottom {
      margin: 2em 0 0 0;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
    .footer-call {
      margin: 0 0 0 auto;
    }
    .socials-call-wrap {
      margin: 0;
      align-items: center;
    }
    .footer-socials {
      margin: 0;
    }
    .footer-copyright {
      margin: 2em 0 0 0;
      font-size: (11em/$fs);
    }
  }
}
