.form-group {
  label {
    color: $primary;
    font-size: (18rem/$fs);
    margin-bottom: .15em;
    font-weight: bold;
  }
  margin-bottom: (20rem/$fs);
}

.form-control,
input[type="email"],
input[type="tel"],
input[type="text"] {
  height: (50rem/$fs);
  font-size: (18rem/$fs);
  box-sizing: border-box;
  letter-spacing: .015em;

  &::placeholder {
    color: $color-text-2;
  }
}

select.form-control {
  appearance:none;
  background-image: url(#{$asset-path}/select-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 1em center;
  background-size: .75em;
  padding-right: 2em;
}

textarea.form-control {
  height: 8.4em; // 5 lines
  @include media-breakpoint-down(md) {
    height: 6.7em; // 4 lines
  }
}

@mixin rdg-button($color, $bgColor, $hoverColor, $hoverBgColor) {
  color: $color;
  background-color: $bgColor;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  font-size: 1em;
  border: none;
  &:hover {
    color: $hoverColor;
    background-color: $hoverBgColor;
  }
}


button {
  outline: 0 !important; // remove blue outline on click
}

.btn, button {
  height: (44rem/$fs);
  letter-spacing: .1em;
  padding: .7rem 1.2rem;
  min-width: 8em;
  transition: all .2s;
  vertical-align: middle;
  text-align: center;
  //z-index: 3;
  //outline: 0;
  //transition: all .2s;
  //font-family: $font-family-sans-serif;
  //display: inline-block;
  //vertical-align: middle;
  //white-space: nowrap;
  // fix safari not v-centered.
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //line-height: (44rem/$fs); // fix safari not v-centered.
  @include media-breakpoint-down(sm) {
    height: (44rem/$fs);
  }

  &:disabled {
    opacity: .3;
  }
}

.btn-4 {
  color: #ffffff;
  background-color: $color-4;
  &:hover {
    color: #ffffff;
    opacity: .7;
  }
}

.btn-gray {
  color: #ffffff;
  background-color: $secondary;
}

.btn-primary {
  &:hover {

  }
}

a.btn-primary {
  line-height: (64rem/$fs);

  &:hover {
    text-decoration: none;
  }
}

// Most of the time don't use underline on <a>
a {
  text-decoration: none;
  &:hover { // on hover too
    text-decoration: none;
  }
}

// Theme dark
.btn-black {
  outline: 0;
  @include rdg-button(#fff, #000, #000, #aaa);
}

// Prevent full width stretching
.btn-wrap {
  display: inline-flex;
}
