.modal-footer {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal {

  h2 {
    font-weight: 500;
    font-size: (30em/$fs);
    text-align: left;
    margin: 0 0 .75em 0;
    letter-spacing: .05em;
  }
}

.modal-content {
  padding-top: (40rem/$fs);
  padding-bottom: (40rem/$fs);
  background-color: $color-bg-2;

  .form-control {
    background-color: $color-bg-1;
  }

  form {
    margin-bottom: 0;
  }

  button {
    font-size: (18em/$fs);
    height: (50rem/$fs);
  }
}

.modal-header {
  cursor: pointer;
  .close {
    font-weight: normal;
    line-height: 1;
    opacity: 1;
    color: #ffffff;
    text-align: right;
    text-shadow: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    span {
      font-size: (20em/$fs);
      font-weight: normal;
      box-shadow: none;
    }
    svg {
      width: 1.25em;
      margin: -.2em 0 0 .5em;
      rect {
        fill: currentColor;
      }
    }
  }
}

.modal-footer {
  padding-top: 0;
  padding-bottom: 0;
  //padding-bottom: 2em;
}

.modal-body {
  padding-top: 0;
}

#modalVideo {
  .modal-dialog {
    //max-width: 0;
    max-width: none;
    width: 70vw;
  }
  .modal-content {
    padding: 0;
  }
}

#modalFW {
  background-color: #686867;
  $header-height: 80em/$fs;
  $header-height-mb: $nav-height-mb;

  .modal-dialog {
    width: 100%;
    max-width: none;
    margin: 0;
  }
  &.modal.show {
    .modal-dialog {
    }
  }
  .modal-header {
    height: $header-height;
    .close {
      align-self: flex-end;
      padding-right: 3em;
    }
  }
  .modal-content {
    background-color: #ffffff;
    height: calc(100% - #{$header-height});
  }

  @include media-breakpoint-down(md) {
    .modal-header {
      height: $header-height-mb;
      .close {
        justify-content: flex-end;
        padding-right: $content-padding-mb;
        span {
          display: none;
        }
      }
    }
    .modal-content {
      background-color: #ffffff;
      height: calc(100% - #{$header-height-mb});
      padding: 1em 0;
    }
  }
}
#modalFWContent {
  height: 100%;
  position: relative;

  .scroll-container {
    $padding-right: .75em;
    width: calc(100% + #{$padding-right});
    padding-right: $padding-right;
    .scrollbar-track-y {
      width: 2px;
    }
    .scrollbar-thumb-y {
      width: 2px;
    }
  }
}
