// Mobile
// ----------------------------------------
.nav-container {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);

  .nav-inner {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: $nav-height;
    position: relative;
  }

  .nav-sec-left {
    height: 100%;
    position: relative;
  }

  .nav-sec-center {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 1em;
    position: relative;
  }

  .nav-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: (30em/$fs);
    letter-spacing: .05em;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    transition: opacity .2s;
  }

  .nav-sec-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  // Content
  // ----------------------------------------

  .nav-logo {
    height: 100%;
    padding: .5em 0;
    box-sizing: border-box;
    align-self: center;
  }

  #btnRegister {
    z-index: 0;
  }

  .nav-sec-right-mb {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    .nav-sec-right {
      width: 0;
      overflow: visible;
    }
    .nav-inner {
      height: $nav-height-mb;
    }
    #btnRegister {
      position: absolute;
      left: 0;
      top: 8rem/$fs;
      transform: translateX(-100%);
    }
  }
  @include media-breakpoint-down(md) {
    .nav-sec-right-mb {
      display: block;
      width: (36em/$fs);
    }
    .nav-inner {
      height: $nav-height-mb;
    }
    #btnRegister {
      // display: flex;
      display: none; // always hide the button (new requirement)
      height: $nav-height-mb;
      z-index: 0;
      position: absolute;
      bottom: -$nav-height-mb;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      width: 100vw;
      top: $nav-height-mb;
      overflow: hidden;
      transition: all .2s;
      align-items: center;
      justify-content: center;
      padding: 0;
      //transform: scaleY(1);

      &.hidden {
        height: 0;
        //transform: scaleY(0);
      }

      .no-register-btn & {
        display: none;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .nav-title {
      font-size: 18em/$fs;
      font-weight: normal;
    }
  }

}

#menuToggle {
  $ham-width: 40px;
  $ham-thickness: 2px;
  $ham-height: 26px;
  z-index: 3;

  display: block;
  position: fixed;
  top: calc((#{$nav-height} - #{$ham-height}) / 2);
  right: $toggle-right;
  //top: 1.5rem;
  margin: 0;
  width: $ham-width;
  height: $ham-height;
  //left: $padding-mb;

  -webkit-user-select: none;
  user-select: none;

  // Sync with: menu_container_padding
  @include media-breakpoint-down(xl) {
    right: 18px;
  }

  #menuCheckbox {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 0;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 4; /* and place it over the hamburger */

    -webkit-touch-callout: none;
  }

  /*
   * Just a quick hamburger
   */
  span {
    display: block;
    width: 100%;
    height: $ham-thickness;
    position: absolute;

    background: $primary;
    border: 1px solid transparent;
    z-index: 3;
    top: $ham-height/2 - $ham-thickness / 2;

    transform-origin: ($ham-width/2) ($ham-thickness/2);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    opacity 0.55s ease;
  }

  span:nth-last-child(3) {
    transform: translate(0, -($ham-height/2 - $ham-thickness / 2));
    //top: 0;
  }

  span:nth-last-child(2) {
    transform: translate(0, 0);
  }

  span:nth-last-child(1) {
    transform: translate(0, $ham-height/2 - $ham-thickness / 2);
  }


  /*
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(0, 0);
    background: #ffffff;
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) translate(0, 0);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0);
  }

  input:checked ~ .nav-content {
    transform: none;
  }

  input:checked ~ #navBackdrop {
    opacity: .7;
    transition: opacity .5s ease .1s;
    width: 100vw;
  }

  @include media-breakpoint-down(lg) {
    $ham-width: 30px;
    $ham-thickness: 2px;
    $ham-height: 22px;
    top: 1.1em;
    width: $ham-width;
    height: $ham-height;
    right: 16rem/$fs;
    span {
      display: block;
      width: 100%;
      height: $ham-thickness;
      position: absolute;

      background: $primary;
      border: 1px solid transparent;
      z-index: 3;
      top: $ham-height/2 - $ham-thickness / 2;
      transform-origin: ($ham-width/2) ($ham-thickness/2);
    }
    span:nth-last-child(3) {
      transform: translate(0, -($ham-height/2 - $ham-thickness / 2));
    }

    span:nth-last-child(2) {
      transform: translate(0, 0);
    }

    span:nth-last-child(1) {
      transform: translate(0, $ham-height/2 - $ham-thickness / 2);
    }

  }

}

#navBackdrop {
  display: block;
  position: fixed;
  width: 0;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  height: 100vh;
  background-color: #686867;
  transition: opacity .5s ease, width 0s linear .5s;
}

// Content (The links)
// ----------------------------------------

.nav-content {
  $text-opacity: .5;
  transform: translateX(100%);
  font-family: $font-family-sans-serif;
  background-color: $primary;
  position: fixed;
  top: 0;
  right: 0;
  padding: 1.7em $toggle-right 1.7em 3em;
  z-index: 3;
  width: 100%;
  height: 100vh;
  max-width: (670rem/$fs);
  transition: transform .5s;
  display: flex;
  flex-direction: column;

  a {
    color: #ffffff;
    opacity: $text-opacity;
    text-decoration: none;
    transition: opacity .2s;

    &.current, &:hover {
      color: #ffffff;
      opacity: 1;
    }
  }

  // Links
  // ----------------------------------------

  .nav-links {
    padding: 0;
    margin: 4em 0 0 0;
    list-style: none;

    a {
      font-size: (28em/$fs);
      padding: .5em .5em;
      display: block;
      line-height: 1.5;
      font-weight: normal;
      letter-spacing: .05em;
      text-transform: uppercase;
    }
  }

  // Languages
  // ----------------------------------------

  .nav-langs {
    list-style: none;
    display: flex;
    padding: 0;

    li {
      border-left: 1px solid rgba(255, 255, 255, $text-opacity);
      padding: 0 1.2em;

      &:first-child {
        padding-left: 0;
        border: none;
      }

      &:last-child {
        padding-right: 0;
      }

    }

    a {
      font-size: (22em/$fs);
      color: #ffffff;
      line-height: 1.5;
    }
  }

  @include media-breakpoint-down(hd) {
    .nav-links {
      margin-top: 2em;

      a {
        font-size: (20em/$fs);
      }
    }
  }
  @include media-breakpoint-down(md) {
    padding: (22em/$fs) (22em/$fs);
    .nav-langs {
      height: (20em/$fs);

      a {
        font-size: (14em/$fs);
      }
    }
    .nav-links {
      margin-top: 1em;

      a {
        font-size: (22em/$fs);
      }
    }
  }

}

// Nav Footer
// ----------------------------------------
.nav-footer {
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto 0 2.8em 0;
  position: relative;

  // Socials
  .nav-socials {
    a {
      margin: 0 1em 0 0;
      opacity: 1;
      transition: opacity .2s;
      width: (40em/$fs);
      display: inline-block;
      position: relative;

      &:hover {
        opacity: .5;
      }

      img {
        width: 100%;
      }
    }
  }

  .social-calls-wrap {
    display: flex;
    align-items: center;
    margin: 0 0 1.5em 0
  }

  // Call Center
  .nav-call {
    opacity: 1;
    display: flex;
    height: (50em/$fs);
    margin: 0 0 0 auto;

    .call-content {
      margin: 0 0 0 .5em;
    }

    img {
      height: 100%;
      width: auto;
    }

    h3 {
      font-weight: normal;
      font-size: (12em/$fs);
      margin: .1em 0 .5em 0;
      line-height: 1;
      letter-spacing: .06em;
    }

    h4 {
      font-weight: bold;
      font-size: (30em/$fs);
      color: #ffffff;
      line-height: 1;
      letter-spacing: .1em;
      margin: 0;
    }
  }

  // Copyright
  .nav-copyright {
    color: #ffffff;
    font-size: (16em/$fs);
  }

  .btn-wrap {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    text-align: right;
  }

  .btn-brochure {
    display: inline-block;
    margin: 0 0 2em auto;
    opacity: 1;

    img {
      transition: transform .2s;
      margin-right: .5em;
    }

    &:hover {
      opacity: 1;

      img {
        transform: translate(0, 20%);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 0em;
  }
  @include media-breakpoint-down(md) {
    .btn-brochure {
      max-width: none;
      width: 100%;
    }
    .nav-copyright {
      font-size: (11em/$fs);
    }
    .social-calls-wrap {
      margin-bottom: 2em;
    }
  }
}

// Special Effects
// ----------------------------------------

#navDynamicContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    opacity: 0;
    transition: opacity .5s;
  }

  &.active {
    z-index: 2;

    & > * {
      opacity: 1;
    }
  }

  // There can be only one in the center
  &.active + .nav-title {
    opacity: 0;
  }

  // Home : Port
  // ----------------------------------------
  .project-select {
    position: relative;
    margin: 0;
    max-width: 500em/$fs;
  }

  .project-select-item {
    width: (100%/4);
    padding: 1.5em 0;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover, &.active {
      opacity: 1;
    }
  }

  @include media-breakpoint-down(lg) {
    .project-select {
      max-width: 22em;
    }
  }
  @include media-breakpoint-down(md) {
    .project-select {
      margin: 0;
      min-width: 0;
      width: 100%;
      height: 100%;
      flex-wrap: nowrap;
      max-width: 20em;
    }
    .project-select-item {
      margin: 0;
      width: (44em/$fs);
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      img {
        height: 40%;
        align-self: center;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .project-select {
      max-width: 200em/$fs;
    }
  }
}
