#fac-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 3em;
  background-color: $primary;
  #facHeroBannerCnt {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  #facHeroBanner {
    position: relative;
    width: 100%;
    height: 100%;
    //padding-bottom: (100%*(1082/1920));
    //top: 0;
    //left: 0;
    //margin-top: -10em;
    z-index: 0;
    // adhoc
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // Swipe
  .swipe-wrap {
    position: absolute;
    width: 100vw;
    height: 100%;
    pointer-events: none;
  }
  #heroSwipe {
    position: absolute;
    z-index: 2;
    background: url(#{$asset-path}/swipe.gif) no-repeat center/contain;
    width: 4em;
    height: 4em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity .2s;
    opacity: 0;
  }

  @include media-breakpoint-down(lg) {
    &.has-swipe {
      #heroSwipe {
        opacity: 1;
      }
    }
  }


  @include media-breakpoint-down(md) {
    .fh-bg {
      margin-top: 0;
      //padding-bottom: 0;
      //height: 100%;
      //background-size: auto 100%;
    }
    .fh-fg {

    }
  }

  @include media-breakpoint-down(sm) {
    margin-bottom: 1em;
  }
}

.fac-container {
  padding: 3em 0;
  .fc-top {
    //min-height: (150em/$fs); // by inspecting element when h2 has 2 line
    margin-bottom: 1.5em;
  }
  .fc-desc {
    margin: .25em 0 0 auto;
  }
  .fc-desc-cloned {
    display: none;
  }
  @include media-breakpoint-down(md) {
    .fc-top {
      min-height: auto;
    }
    .fc-desc {
      display: none;
    }
    .fc-desc-cloned {
      display: block;
      margin-top: 1em;
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 2em 0;
  }
}

#fac-transport {
  padding: 3em 0;

  .ft-features {
    margin-top: 1.25em;
  }

  .col-feature {
    display: flex;
    margin: .5em 0;
    .icon-wrap {
      width: (54em/$fs);
      height: (64em/$fs);
      margin: .75em 1.25em 0 0;
      flex-shrink: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 2em 0;
    .ft-features {
      margin-top: 1.25em;
    }
    .col-feature {
      .icon-wrap {
        margin: .25em 1.25em 0 0;
      }
    }
  }
}

#fac-shows {
  padding: 4em 0;
  .fs-desc {
    margin: .1em 0 0 auto;
    width: 100%;
    max-width: (550em/$fs);
  }
  .slide {
    margin: 3em 0;
    .slide-content {
      p {
        opacity: .5;
      }
    }
  }

  .fc-desc-cloned {
    display: none;
  }

  // non conflict change
  @include media-breakpoint-up(lg) {
    .col-lg-6 {
      flex: 0 0 (100%*(7/12));
      max-width: (100%*(7/12));
    }
    .col-lg-4 {
      flex: 0 0 (100%*(5/12));
      max-width: (100%*(5/12));
    }
  }

  @include media-breakpoint-down(md) {
    padding: 2em 0 2em 0;
    .slide {
      margin: 1em 0 0 0;
    }
    .col-lg-4 {
      display: none;
    }
    .fc-desc-cloned {
      display: block;
      padding: 0 $content-padding-mb;
    }
  }

}

#fac-health {
  figure {
    margin-bottom: 0;
  }
  .fh-top {
    margin: 0 0 4.5em 0;
  }
  $gutter: 16em/$fs;
  .fh-content-wrap {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: calc(100% + #{$gutter});
    margin-left: #{-$gutter/2};
    margin-right: #{-$gutter/2};
  }
  .fh-item {
    width: (100%/4);
    padding-left: #{$gutter/2};
    padding-right: #{$gutter/2};
    cursor: pointer;
    @media (hover: hover) {
      &:hover {
        .fhi-content-inside {
          opacity: 1;
        }
        .fhi-content {
          opacity: .5;
        }
      }
    }
  }
  .fhi-content {
    z-index: 1;
    transition: opacity .2s;
    h2 {
      font-size: 30em/$fs;
      margin: .75rem 0;
    }
    h4 {
      font-size: 18em/$fs;
      margin: 1.1em 0 .7em 0;
    }
  }
  .fhi-content-inside {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    z-index: 2;
    transition: opacity .5s;
    background-color: rgba(42, 70, 52, .9);
    .fhi-logo {
      display: block;
      width: 82em/$fs;
      margin-bottom: 3em;
    }
    h2 {
      font-size: 18em/$fs;
      color: #ffffff !important;
      line-height: 1.3;
    }
    h4 {
      font-size: 14em/$fs;
      margin-bottom: 1em;
    }
    p {
      font-size: 16em/$fs;
      margin-bottom: 1em;
      color: $secondary;
      display: none;
      padding: 0 2em;
    }
  }
  &:hover {
    .fhi-content-inside {
      h2, h4 {
        display: none;
      }
      p {
        display: inline;
      }
    }
  }

  // Mobile
  .health-content-mb {
    h4 {
      font-size: 14em/$fs;
    }
    h2 {
      font-size: 18em/$fs;
      margin-bottom: .5rem;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .slide {
      padding-bottom: 4em;
    }
    .slide-content {
      padding: 1em $content-padding-mb 1em $content-padding-mb;
    }
    .owl-dot {
      color: $primary;
    }
  }
  @include media-breakpoint-down(xl) {
    .fhi-content {
      h2 {
        font-size: 25em/$fs;
      }
    }
  }
  @include media-breakpoint-down(lg) {
    .fhi-content {
      h2 {
        font-size: 23em/$fs;
      }
    }
  }
  @include media-breakpoint-up(lg) {
    .fh-item:nth-child(2) {
      padding-top: 8em;
    }
    .fh-item:nth-child(3) {
      padding-top: 1em;
    }
    .fh-item:nth-child(4) {
      padding-top: 3em;
    }
  }
  @include media-breakpoint-down(md) {
    margin: 2em 0 0 0;
    .fh-content-wrap {
      display: none;
    }
    .fhi-content-inside {
      opacity: 1;
    }
    .fh-top {
      margin: 0 0 1em 0;
    }
    .fh-item {
      width: (100%/2);
      position: relative;
      margin: $gutter/2 0;
    }
    figure {
    }
    .fhi-content {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    .fh-content-wrap {
      width: 100%;
      margin: 0;
    }
    .fh-item {
      padding: 0;
      margin: $content-padding-mb/2 0;
      width: 100%;
    }
  }
}

.page-facility {
  @include media-breakpoint-down(sm) {
    .last-section {
      padding-bottom: 11em !important;
    }
  }
}
