#family-hero {
  position: relative;
  h5 {
    font-size: 28em/$fs;
    letter-spacing: .05em;
    font-weight: normal;
    line-height: 1.5;
    color: $primary;
  }
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fh-content-wrap {
    width: 100%;
    margin-top: -6em;
  }
  .project-select {
    max-width: (890em/$fs);
  }
  .project-select-item {
    height: (100em/$fs);
  }

  @include media-breakpoint-down(sm) {
    h5 {
      font-size: 22em/$fs;
    }
    .fh-content-wrap {
      margin-top: -2em;
    }
    .project-select {
      margin-top: 1em;
    }
  }
}

.page-family {
  .last-section {
    padding-bottom: 10em;
  }
}
