#single-banner {
  background: url(#{$asset-path}/blog/banner-bg-single.jpg) no-repeat center/cover;
  position: relative;
  left: 0;
  width: 100%;
  padding-bottom: (640%/19.20);
  z-index: 1;

  @include media-breakpoint-down(sm) {
    background: url(#{$asset-path}/blog/banner-bg-single.jpg) no-repeat 72% 0%/auto 100%;
    //background-size: contain;
    padding-bottom: 105%;
  }
}

#single-content {
  margin: 2.5em 0 4em 0;

  .single-container {
    margin: 0 auto;
    max-width: (830em/$fs);
    &>h2 {
      font-size: (30em/$fs);
      letter-spacing: .025em;
      font-weight: 600;
      margin-bottom: .3em;
    }
    &>h5 {
      font-size: (18em/$fs);
      letter-spacing: .025em;
      font-weight: normal;
    }
  }

  .single-info {

  }

  .single-socials {
    margin: 1em 0 2em 0;
    display: flex;
    justify-content: flex-start;
    .social-item {
      display: block;
      text-decoration: none;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      border: 1px solid $primary;
      margin-right: 1em;
      position: relative;
      &:hover {
        svg {
          transform: scale(1.1);
        }
      }
      svg {
        width: 100%;
        height: 100%;
        transition: transform .2s;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin: 2.5em 0 2em 0;
  }
}

.entry-content {
  p, li {
    font-size: (16em/$fs);
    letter-spacing: 0;
  }

  figure {
    position: relative;
    img {
      width: 100%;
    }
    figcaption {
      color: $secondary;
      font-size: (14em/$fs);
      //padding-left: (22rem/$fs);
      //padding-right: (22rem/$fs);
    }
    @include media-breakpoint-down(sm) {
      img {
        @include screen-width;
      }
    }
  }

  h1 {
    font-size: (60em/$fs);
    font-weight: 600;
    letter-spacing: .05em;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: (30em/$fs);
      line-height: (21/$fs);
      margin-bottom: 1rem;
    }
  }

  h2 {
    font-size: (50em/$fs);
    font-weight: 600;
    letter-spacing: .05em;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: (28em/$fs);
      line-height: (21/$fs);
      margin-bottom: 1rem;
    }
  }

  h3 {
    font-size: (30em/$fs);
    letter-spacing: .025em;
    font-weight: normal;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: (18em/$fs);
      line-height: (20/$fs);
      margin-bottom: 1rem;
    }
  }

  h4 {
    font-size: (24em/$fs);
    letter-spacing: .025em;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: (18em/$fs);
      line-height: (20/$fs);
      margin-bottom: 1rem;
    }
  }

  h5 {
    font-size: (18em/$fs);
    letter-spacing: .025em;
    font-weight: normal;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      font-size: (18em/$fs);
      line-height: (20/$fs);
      margin-bottom: 1rem;
    }
  }
}
.single-tags {
  margin: 4em 0 0 0;
  text-transform: uppercase;
  display: flex;
  strong {
    margin-right: .3em;
  }
  span{
    display: inline-block;
    color: $secondary;
    margin-right: .3em;
  }
}

#single-related {
  padding: 1em 0 6em 0;
  .sr-hr {
    border-top-color: $color-border;
    margin: 2em 0;
  }
  .container {

  }
  @include media-breakpoint-down(sm) {
    padding: 1.75em 0 5em 0;
    .sr-hr {
      display: none;
    }
    background: $color-bg-2;
  }
}
