#about-hero {
  background-color: $primary;
}

#about-ceo {
  padding: 3em 0;

  h4 {
    color: $secondary;
  }

  .ceo-content-wrap {
    background: url(#{$asset-path}/about/ceo.jpg) no-repeat left bottom/100% auto;
  }

  .ceo-content {
    width: 100%;
    padding: 10% 10% 3% 42%;
  }

  .ceo-quote {
    margin: 2em 0 4em 0;
    position: relative;

    &:before, &:after {
      font-size: (50em/$fs);
      font-weight: 600;
      position: absolute;
      z-index: 1;
    }

    &:before {
      content: '“';
      top: -.35em;
      left: -.75em;
    }

    &:after {
      content: '”';
      bottom: -1.2em;
      right: -.1em;
    }
  }

  .ceo-signature {
    width: 33.5%;
    margin-left: 42%;
  }

  h5 {
    font-size: (30em/$fs);
    font-weight: 600;
    letter-spacing: .05em;
    color: $primary;
  }

  .ceo-img {
    width: 50%;
    padding-bottom: 50%;
    background-repeat: no-repeat;
    background-position: 8% top;
    background-size: auto 100%;
    margin: 2em auto 4em auto;
  }


  @include media-breakpoint-down(lg) {
    .ceo-content {
      padding: 5% 7% 3% 42%;
    }
    h5 {
      font-size: (23em/$fs);
    }
  }

  @include media-breakpoint-down(md) {
    padding-bottom: 2em;
    .ceo-content-wrap {
      background: none;
    }
    .ceo-content {
      padding: 0;
    }
    .ceo-quote {
      margin: 2.5em 0 2em 0;

      &:before, &:after {
        font-size: (28em/$fs);
      }

      &:before {
        content: '“';
        top: -.8em;
        left: 0;
      }

      &:after {
        content: '”';
        bottom: -1.5em;
        right: 0;
      }
    }
    h5 {
      text-indent: 1em;
      font-size: 22em/$fs;
      margin: 0 0 1.2em 0;
      line-height: 1.4;
      letter-spacing: .025em;
    }
    .ceo-signature {
      width: 60%;
      margin: 0 0 0 30%;
    }

  }

  @include media-breakpoint-down(sm) {
    .ceo-img {
      width: 100%;
      padding-bottom: 100%;
      margin: 2em 0 1em 0;
    }
  }
}

#about-mission {
  margin: 2em 0 0 0;

  .am-logo {
    margin: 0 0 1.5em 0;
  }

  .am-content-wrap {
    padding: 2em 2em 2em 2em;
    width: 100%;
    background: $color-bg-2 url(#{$asset-path}/tree.svg) no-repeat left 50% top 10%/#{(1196%/13.94)};
  }

  .am-content {
    text-align: center;
    max-width: (830em/$fs);
    margin: 0 auto;
  }

  .am-desc {
    margin: 1.5em 0 0 0;
  }

  @include media-breakpoint-down(sm) {
    .am-content-wrap {
      padding: 1.5em 2em 1.5em 2em;
      background-size: 200%;
      background-position: center bottom;
    }
    .am-logo {
      width: 4em;
    }
    p {
      margin: 0 0 1.2em 0;
    }
  }
}

#about-concepts {
  padding: 10em 0 1em 0;

  .ac-logo {
    margin: 0 0 1.5em 0;
  }

  .ac-content-wrap {
    width: 100%;
  }

  .ac-content {
    text-align: center;
    margin: 0 auto;
  }

  .ac-desc {
    margin: 1.5em 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      & > .row {
        width: 1160em/$fs;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  .ac-item {
    position: relative;
    white-space: nowrap;
    margin: 2em 0;
  }

  h4 { // [hide the title]
    display: none;
  }

  //@include media-breakpoint-down(lg) {
  //  .ac-item {
  //    margin: 2em 3em;
  //  }
  //}
  @include media-breakpoint-down(md) {
    padding: 5em 0 1em 0;
    .ac-logo {
      height: (100em/$fs);
    }
    .ac-item {
      margin: 1em 0;
    }
  }
}

#about-content {
  padding-bottom: 6em;
}

.about-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 110em/$fs 0;
  $padding: 4em;

  .as-img {
    width: 50%;

    img {
      width: 100%;
    }
  }

  .as-logo {
    position: absolute;
    top: 0;
    left: 2em;
    width: 10em;
    z-index: 0;
    opacity: .3;
  }

  .as-content {
    position: relative;
    width: 50%;
    padding-top: 4em;
  }

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 1.25em;
  }

  .as-img-cloned {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    &:nth-child(2n + 1) {
      .as-content {
        padding-left: $padding;
      }
    }
    &:nth-child(2n) {
      flex-direction: row-reverse;

      .as-content {
        padding-right: $padding;
      }

      .as-logo {
        left: -2em;
      }
    }
  }
  @include media-breakpoint-down(md) {
    margin: 3em 0;
    h2 {
      padding-right: 3.5em;
      margin-bottom: .5em;
    }
    .as-content {
      padding-top: .8em;
      width: 100%;
    }
    .as-logo {
      width: (90em/$fs);
      left: unset;
      right: 0;
    }
    .as-img {
      display: none;
    }
    .as-img-cloned {
      display: block;
      margin-bottom: 1em;
    }
  }
}
