#blog-hero {
  background-color: $primary;
  .hero-logo {
    display: none !important; // The client want to hide this.
  }
  @include media-breakpoint-down(sm) {
    .bg-center-cover {
      background-position: center 0;
      background-size: auto 110%;
    }
  }
}

#blog-story {
  padding: 6em 0 4em 0;

  .slide {
    margin: 4em 0 0 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 60em/$fs 0 2em 0;
    .slide {
      margin: 30em/$fs 0 0 0;
    }
  }
}

#blog-news {
  padding: 6em 0 10em 0;
  @include media-breakpoint-down(md) {
    padding: 1em 0 10em 0;
  }
}

$post-gutter: 1em;

.post-container {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + #{$post-gutter});
  margin-left: #{-$post-gutter/2};
  margin-right: #{-$post-gutter/2};
  margin-top: 1.5em;
  margin-bottom: 2em;

  // Force the width if inside owl carousel
  &.slide {
    .post-item {
      max-width: 100% !important;
    }
  }
}

.post-item {
  padding-left: #{$post-gutter/2};
  padding-right: #{$post-gutter/2};
  box-sizing: border-box;
  margin: 0 0 2.75em 0;
  display: block;
  text-decoration: none !important;
  color: $color-text-1;
  .pi-content {
    transition: opacity .2s;
  }
  &:hover {
    .pi-content {
      opacity: .5;
    }
  }
  .pi-info {
    color: $color-text-2;
    font-size: (13em/$fs);
    letter-spacing: .025em;
  }

  .pi-cover {
    width: 100%;
    padding-bottom: (256%/4.55);
  }

  h3 {
    font-size: (28em/$fs);
    letter-spacing: .025em;
    color: $primary;
    margin: .75em 0 .5em 0;
  }

  @include media-breakpoint-down(sm) {

    h3 {
      font-size: (18em/$fs);
      margin: 1em 0 .5em 0;
    }
  }
}


