.page-contact {
  .container-contact {
    max-width: (1394em/$fs);
    margin: 0 auto;
  }
  .nav-padding {
    background-color: $primary;
  }
}

.contact-bbg {
  background: $primary url(#{$asset-path}/contact/bg-contact-banner.jpg) no-repeat center/cover;
  position: relative;
  left: 0;
  width: 100%;
  padding-bottom: (640%/19.20);
  z-index: 1;

  @include media-breakpoint-down(sm) {
    background: url(#{$asset-path}/contact/bg-contact-banner.jpg) no-repeat center left/cover;
    padding-bottom: 120%;
  }
}

.contact-form-wrap {
  background: $color-bg-2 url(#{$asset-path}/tree.svg) no-repeat right -160% bottom 105%/#{(1196%/13.94)};
  padding: (56em/$fs) (115em/$fs) (56em/$fs) (64em/$fs);
  margin-top: -30em;
  position: relative;
  z-index: 2;

  h2 {
    font-size: (30em/$fs);
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.1;
    margin: 0 0 .5em 0;
  }

  h3 {
    font-size: (50em/$fs);
    font-weight: 600;
    letter-spacing: .05em;
    line-height: 1.2;
    margin: 0 0 .25em 0;
    text-align: right;
  }

  h4 {
    font-size: (24em/$fs);
    font-weight: normal;
    letter-spacing: .025em;
    line-height: 1.2;
    margin: 0;
    text-align: right;
  }

  .con-form-text {
    display: none !important; // The client want to hide it.
    align-self: flex-end;
  }

  @include media-breakpoint-down(xl) {
    margin-top: -15em;
  }

  @include media-breakpoint-down(lg) {
    padding-right: (56em/$fs);
    h3 {
      font-size: (40em/$fs);
    }
    h4 {
      font-size: (20em/$fs);
    }
  }

  @include media-breakpoint-down(md) {
    //background: $color-bg-2 url(#{$asset-path}/tree.svg) no-repeat right 0 bottom 0/#{(539vw/375)};
    background: $color-bg-2 url(#{$asset-path}/tree.svg) no-repeat right -70vw bottom -50vw/#{(539vw/3.75)};
  }

  @include media-breakpoint-down(sm) {
    margin-top: -25em;
    padding: (20em/$fs) (20em/$fs) (20em/$fs) (20em/$fs);
  }
}

#formContact {
  margin: 0;

  .btn {
    height: (50rem/$fs)
  }
}

#contact-info {
  padding: (80em/$fs) 0 8em 0;

  h4 {
    margin-bottom: 3.25em;
  }

  @include media-breakpoint-down(md) {
    padding: 4em 0 12em 0;
  }
}

.acc-contact {
  $content-width: 45%;

  .acc-item-wrap {
    width: $content-width;
    padding: .5em 0 1em 1.5em;
  }

  .acc-side-wrap {
    width: 100% - $content-width;
  }

  .marker-wrap {
    width: 42em/$fs;
    text-align: center;
    vertical-align: center;
    margin: 0 .8em 0 0;

    img {
      width: 100%;
      transform: scale(.65);
    }

    .marker-active {
      display: none;
    }
  }

  .acc-content {
    padding: 1em 0 2em 3em;
  }

  // Active
  .acc-item {
    &.active {
      .marker-wrap {
        .marker {
          display: none;
        }

        width: 42em/$fs;

        .marker-active {
          display: inline;
          transform: scale(1);
        }
      }

      h3 {
        font-size: (40em/$fs);
      }
    }
  }

  .acc-head {
    width: 100%;
    display: flex;
    padding: .5em 0;
  }

  h3 {
    align-self: center;
    font-size: (24em/$fs);
    letter-spacing: .05em;
    margin: 0;
  }

  p {
    &:last-child {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: $color-3;
      font-weight: bold;
    }
  }

  @include media-breakpoint-down(md) {
    .acc-item-wrap {
      padding: 0;
      width: 100%;
    }
    .acc-content {
      padding: .5em 0 1.75em 0;

      .acc-side {
        margin-bottom: 1em;
      }
    }
    .marker-wrap {
      display: none !important;
    }
    .acc-head {
      padding: 1em 0;
      background: url(#{$asset-path}/select-arrow.svg) no-repeat right 1em center/.75em;
    }
    h3 {
      font-size: (24em/$fs) !important;
    }
  }

  // todo - only map full-width
  @include media-breakpoint-down(sm) {

  }
}

.map-wrap {
  position: relative;
  width: 100%;
  padding-bottom: (553%/8.30);
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

