#homeRef {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1100vh;
  //background: url(#{$asset-path}/ref/ref-home.jpg) no-repeat left -142px;
  //background: url(#{$asset-path}/ref/ref-home.jpg) no-repeat left -192px;
  background: url(#{$asset-path}/ref/ref-home-mobile.jpg) no-repeat left //144px; // before sec come home
  128px;
  z-index: 0;
}

// Sections: Hero
// ----------------------------------------
#home-hero {
  width: 100%;
  background-color: $primary;
  box-sizing: border-box;
  position: relative;
  z-index: 8;

  #homeHeroWrap {
    overflow: hidden;
  }

  .slide {
    height: 100%;
    overflow: hidden;

    .img-caption {
      left: 0;
      bottom: .5em;
      width: 100%;
      text-align: center;
    }
  }

  .slide-item {
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

// The Leaves
// ----------------------------------------
#homeDeco {
  position: relative;
  overflow: hidden;
  z-index: 9;
  margin-top: -19em;
  pointer-events: none;
}

.home-deco {
  position: relative;
  width: 100%;
  height: 24em;

  .leaf {
    width: 20em;
    position: absolute;
  }

  .leaf-1-1 {
    bottom: 5em;
    left: 0;
    transform: translate(-31%, 39%);
  }

  .leaf-1-2 {
    bottom: 5em;
    left: 0;
    transform: translate(-59%, -15%) rotate(130deg) scaleX(-1);
  }

  .leaf-2-1 {
    bottom: 5em;
    right: 0;
    transform: translate(30%, 33%) rotate(170deg);
  }

  .leaf-2-2 {
    bottom: 5em;
    right: 0;
    transform: translate(55%, -9%) rotate(-120deg);
  }

  @include media-breakpoint-down(sm) {
    .leaf {
      width: 9em;
    }

    .leaf-1-1 {
      transform: translate(-31%, 49%);
    }

    .leaf-1-2 {
      transform: translate(-59%, -5%) rotate(130deg) scaleX(-1);
    }

    .leaf-2-1 {
      transform: translate(30%, 43%) rotate(170deg);
    }

    .leaf-2-2 {
      transform: translate(55%, 1%) rotate(-120deg);
    }
  }
}

// Sections: Community
// ----------------------------------------
#home-community {
  padding: 4em 0 5em 0;

  p {
    margin: .35em 0 0 0;
  }

  .slide {
    margin-top: 3.6em;
  }

  //.slide-item {
  //  padding-bottom: (943%/16.76);
  //}

  @include media-breakpoint-down(sm) {
    padding: 0 0 (31em/$fs) 0;
    h4 {
      margin-bottom: (33em/$fs);
    }
    .slide {
      margin-top: (32em/$fs);
    }
  }
}

// Sections: Nature
// ----------------------------------------
#home-nature {
  padding: 3.2em 0 3em 0;

  p {
    margin-bottom: 1.4em;
  }

  .gallery-container {
    margin-top: 7.7em;
  }

  .section-content {
    margin: 2em 0 0 0;
  }

  @include media-breakpoint-down(sm) {
    padding: (40em/$fs) 0 (30em/$fs) 0;
    .gallery-container {
      margin-top: 2.5em;
    }
    h2 {
      margin-bottom: .1em;
    }
  }
}

// Sections: Nature
// ----------------------------------------
#home-portfolio {
  padding: 7.8em 0 6em 0;

  h5 {
    font-weight: normal;
    font-size: (28em/$fs);
    margin: -.05em 0 .1em 0;
    line-height: 1.4;
    letter-spacing: 0.05em;
  }

  @include media-breakpoint-down(sm) {
    padding: (96em/$fs) 0 (30em/$fs) 0;
    h5 {
      font-size: (22em/$fs);
    }
  }
}

// Sections: Forest
// ----------------------------------------
#home-forest {
  padding: 5.9em 0 10em 0;

  h2 {
    margin: 0 0 .75em 0;
  }

  .desc {
    max-width: 60em;
    margin: 0 auto;
  }

  .section-content {
    width: 100%;
    max-width: 55em;
    margin: 0 auto 6em auto;
  }

  @include media-breakpoint-down(md) {
    padding: (40em/$fs) 0 6em 0;
    h2 {
      margin-bottom: 1em;
    }
  }
}

.forest-content {
  position: relative;
  margin: 3.2em 0 0 0;

  h5 {
    margin: .5em 0 .2em 0;
    font-weight: 600;
    font-size: (28em/$fs);
    letter-spacing: .05em;
    line-height: 1.1;
  }

  p {
    margin: 0;
    line-height: 1.4;
  }

  .fc-row {
    display: flex;
    justify-content: space-between;
  }

  .fc-col {
    margin: 1em 0;
    width: 32.8%;
  }

  .gallery-thumb {
    width: 100%;
  }

  .forest-map {
    position: absolute;
    width: 32.5%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // smaller font because smaller image
  .forestias-img {
    figcaption {
      bottom: .5em;
      left: .75em;

      .caption-disclaimer {
        font-size: 10em/$fs;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    h5 {
      margin: .5em 0 .2em 0;
      font-weight: 600;
      font-size: (22em/$fs);
      letter-spacing: .05em;
      line-height: 1.1;
    }
    .forest-map {
      top: 35%;
    }
  }
}

// for mobile
.forest-content-mb {
  .fc-col {
    margin: 0;
    width: 100%;
  }

  .btn-view-trails {
    position: absolute;
    bottom: 11em;
    z-index: 2;
  }

  h5 {
    font-size: 28em/$fs;
    font-weight: 600;
    letter-spacing: .05em;
    margin: .75em 0 .25em 0;
  }

  .owl-dots {
    position: relative;
    margin: 5em 0 0 0;
    color: $primary;
  }

  // remove the gradient bg
  .slide-item {
    padding-top: 1em;

    &:after {
      display: none;
    }
  }

  // [fullwidth-change]
  @include media-breakpoint-down(lg) {
    .slide-content {
      padding-left: $content-padding-lg;
      padding-right: $content-padding-lg;
    }
  }

  @include media-breakpoint-down(sm) {
    // [fullwidth-change]
    //.slide-item {
    //  padding-left: $content-padding-mb;
    //  padding-right: $content-padding-mb;
    //}
    .slide-content {
      padding-left: $content-padding-mb;
      padding-right: $content-padding-mb;
    }
    .slide {
      @include screen-width;
    }
  }
}

.forest-map-mb {
  margin: 2.5em 0;
}

.btn-view-trails {
  cursor: pointer;
  margin: .8em 0 0 0;

  svg {
    margin: -.15em .5em 0 0;
    width: 1.25em;

    path {
      fill: currentColor;
    }
  }

  padding: 0 0 0 0;
  line-height: 1.4;
  letter-spacing: .1em;
  transition: opacity .2s;

  &:hover {
    opacity: .5;
  }
}

// Walking Trails
// ----------------------------------------
#walkingTrails {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  display: none;

  .modal-content & {
    display: block;
  }
}

// Walking Trails - Desktop Only
.wt-content {
  display: flex;
  height: 100%;

  .wt-left {
    width: 50%;
    background-position: center top;
  }

  .wt-right {
    width: 50%;
    padding: 2em 0 0 3em;
  }

  h3 {
    font-size: 30em/$fs;
    font-weight: 600;
    letter-spacing: .05em;
    margin: 0 0 .75em 0;
  }

  p {
    margin: 0 0 1.25em 0;
  }

  .wt-legend {
    margin-top: 3em;
  }
}

// Walking Trails - Mobile Only
.wt-content-mb {
  h3 {
    font-size: 28em/$fs;
    font-weight: 600;
    letter-spacing: .05em;
  }
}

.wt-legend {
  .wt-legend-item {
    display: flex;
    align-items: center;
    margin: 1em 0;
  }

  .legend-color {
    width: 80em/$fs;
    height: 4px;
    margin-right: 1em;
  }
}


// Projects
// ----------------------------------------

#home-projects {
  position: relative;

  .project-item {
    display: none;

    &.active {
      display: block;
    }
  }

}

.page-home {
  @include media-breakpoint-down(sm) {
    .last-section {
      padding-bottom: 8em !important;

      #btn-view-trails {
        bottom: 25em !important;
      }
    }
    .forest-content-mb .btn-view-trails {
      bottom: 13em !important;
    }
  }
}
