// Photo Viewer (override)
// ----------------------------------------
.pswp {
  .pswp__button--arrow--right, .pswp__button--arrow--left {
    $height: (58em/$fs);
    width: (30em/$fs);
    height: $height;
    margin-top: $height/-2;
    //@include chevron((2em/16), 2em, .5em, 45, #ffffff);
    opacity: 1;
    &:hover {
      //background-color: $color-btn-hover;
    }
    &::before {
      top: 0;
      width: (30em/$fs);
      height: (58em/$fs);
    }
  }
  .pswp__button--arrow--left {
    &::before {
      left: .5em;
      width: (30em/$fs);
      height: (58em/$fs);
      background: url(#{$asset-path}/icon-chevron-left.svg) no-repeat center/contain;
    }
  }
  .pswp__button--arrow--right {
    &::before {
      right: .5em;
      background: url(#{$asset-path}/icon-chevron-right.svg) no-repeat center/contain;
    }
  }
  // hidden
  .pswp__counter, .pswp__button--share, .pswp__button--fs, .pswp__button--zoom {
    display: none;
  }

  // always display
  .pswp__top-bar {
    background: none !important;
    opacity: 1;
  }

  .pswp__caption {
    display: flex;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
    min-height: 100em/$fs;
  }
  .pswp__caption__center {
    margin: 0 0 0 1em;
    align-self: flex-end;
    color: #ffffff;
    max-width: none;
    .caption-text {
      display: none !important; // Hide caption text per client request [caption-change]
      letter-spacing: .025em;
    }
  }

  .pswp__button--close {
    width: (60em/16);
    height: (60em/16);
    color: #ffffff;
    background: none;
    span {
      pointer-events: none; // Solved close button bug
      font-size: 22em/$fs;
      margin-right: .5em;
    }
    svg {
      pointer-events: none; // Solved close button bug
      width: 20em/$fs;
      margin-top: -.3em;
      rect {
        fill: currentColor;
      }
    }
    //background-color: #00b3ff;
    &:hover {
      background-color: transparent;
      &::before, &::after {
        background-color: $primary;
      }
    }
    @include media-breakpoint-down(sm) {
      transform: scale(.75);
    }
  }

  // pswp__button--zoom
  @include media-breakpoint-down(md) {
    .pswp__button--arrow--right,
    .pswp__button--arrow--left,
    .pswp__button--zoom {
      display: none;
    }
    .pswp__button--fs {
      display: none;
    }
  }

  @media (orientation: landscape) and (max-width: 1000px)  {
    .pswp__button--close {
      //transform: scale(1);
      span {
        //font-size: 10em/$fs;
      }
    }
  }

  img {
    max-width: none;
    object-fit: contain;
  }
}
