
.project-select {
  display: flex;
  justify-content: space-between;
  margin: 4em auto 0 auto;
  max-width: (890em/$fs);
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin-top: (10em/$fs);
    flex-wrap: wrap;
  }
}

.project-select-item {
  height: (96em/$fs); // 86 Originally
  cursor: pointer;
  transition: all .1s;

  &:hover {
    transform: scale(1.1);
  }

  img {
    height: 100%;
    width: auto;
  }

  @include media-breakpoint-down(sm) {
    width: 50%;
    text-align: center;
    margin: (35em/$fs) 0;
  }
}

.page-home {
  .project-select-item {
    opacity: .5;
    &.active {
      opacity: 1;
      pointer-events: none;
    }
    &:hover {
      opacity: 1;
    }
  }
}

// Projects Item
// ----------------------------------------
.project-item {
  padding: (60em/$fs) 0;
  $content-pad: 3em;

  .project-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
  }

  .project-content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    min-height: 10px;
    padding-right: $content-pad;
  }

  .project-banner {
    flex: 0 0 50%;
    position: relative;
    & + .project-content {
      padding-left: $content-pad;
      padding-right: 0;
    }
  }

  .project-slide {
    width: 100%;
  }

  h2 {
    margin: .55em 0 .35em 0;
    line-height: 1.2;
  }

  h3 {
    font-weight: normal;
    font-size: (28em/$fs);
    margin: 0 0 1.75em 0;
    display: none; // [hide the title]
  }

  p {
    margin: auto 0 1.9em 0;
    line-height: 1.4;
    display: block;
  }

  .btn {
    justify-self: flex-start;
    align-self: flex-start;
    flex-grow: 0;
    margin-bottom: 1em;
    width: auto;
    white-space: nowrap;
    min-width: 0;
  }

  .section-content {
    width: 100%;
    max-width: 55em;
    margin: 0 auto 6em auto;
  }

  .slide {
    margin-top: (60em/$fs);
  }

  .project-banner-mb {
    display: none;
  }

  @include media-breakpoint-down(lg) {
    h2 {
      margin-top: 0;
      font-size: (40em/$fs);
      line-height: 1.1;
    }
    h3 {
      margin-top: 0;
      font-size: (22em/$fs);
    }
  }
  @include media-breakpoint-down(md) {
    padding: (35em/$fs) 0;
    .project-content {
      flex: 0 0 100%;
      height: auto;
      display: block;
    }
    .project-banner {
      display: none;
    }
    .project-banner-mb {
      display: block;
    }
    .project-content {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
    p {
      margin-top: 1.75em;
      margin-bottom: 1em;
    }
    h2 {
      font-size: (28em/$fs);
      line-height: (20/$fs);
      margin-bottom: .22em;
    }
    h3 {
      font-weight: normal;
      font-size: (16em/$fs);
      margin-bottom: 1.75em;
    }
    .slide {
      margin-top: (30em/$fs);
    }
  }
}
