html, body {
  margin: 0;
  height: 100%;
  display: block;
  font-size: 16px;
  background: #ff1d10;

  //@include media-breakpoint-up(qhd) {
  //  font-size: 18px;
  //}
  @include media-breakpoint-down(hd) {
    font-size: 14px;
  }
  @include media-breakpoint-down(sm) {
    font-size: (16vw/3.75);
  }
  @media (orientation: landscape) and (max-width: 1000px)  {
    font-size: (16vw/8.12);
  }
}

body {
  overflow: hidden;
}

// Container Scroll
// ----------------------------------------
#scrollContainer {
  height: 100%;
  //height: calc(var(--vh, 1vh) * 100); // fix for chrome browser
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  @include media-breakpoint-down(sm) {
    width: 100vw;
    .scrollbar-track-y {
      background: none !important;
    }
    .scrollbar-track-y, .scrollbar-thumb-y {
      width: 4px;
    }
  }
}

.container {
  padding-left: 123px;
  padding-right: 123px;

  // Sync with: menu_container_padding
  @include media-breakpoint-down(xl) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @include media-breakpoint-down(lg) {
    padding-left: (66rem/$fs);
    padding-right: (66rem/$fs);
  }

  @include media-breakpoint-down(sm) {
    padding-left: (22rem/$fs);
    padding-right: (22rem/$fs);
  }
}

.theme-light {
  h2 {
    color: $primary;
  }
  h3 {
    color: $secondary;
  }
  h4 {
    color: $color-3;
  }
}

.theme-facility {
  h2 {
    color: $primary;
  }
  h4 {
    color: $secondary;
  }
}

.tac-vh-100 {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

// Typography
// ----------------------------------------
h2, h3, h4 {
  line-height: 1.1;
}

h2 {
  font-size: (50em/$fs);
  font-weight: 600;
  letter-spacing: .05em;
  margin-bottom: .1em;
  @include media-breakpoint-down(lg) {
    font-size: (40em/$fs);
    line-height: 1.1;
    margin-bottom: .2em;
  }
  @include media-breakpoint-down(sm) {
    font-size: (28em/$fs);
    line-height: (21/$fs);
    margin-bottom: .2em;
  }
}

h4 {
  font-size: (24em/$fs);
  letter-spacing: .025em;
  font-weight: normal;
  @include media-breakpoint-down(lg) {
    font-size: (20em/$fs);
    line-height: 1.1;
    margin-bottom: .2em;
  }
  @include media-breakpoint-down(sm) {
    font-size: (18em/$fs);
    line-height: (20/$fs);
    margin-bottom: .2em;
  }
}

p {
  font-size: (18em/$fs);
  line-height: 1.4;
  @include media-breakpoint-down(sm) {
  }
}

// Layout
// ----------------------------------------
.absolute-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bg-center {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
