$fs: 16;
$mfs: 16;

$content-padding-lg: (66em/$fs);
$content-padding-mb: (22em/$fs);

$asset-path: '/../assets/images';
$primary: #2A4634;
$secondary: #929288;

$color-3: #718F40;
$color-4: #c6a563;
$color-5: #FAFAFA;
$color-6: #EA4335;

$color-bg-1: #ffffff;
$color-bg-2: #E5EAE7;
$color-border: #e1dedc;

$color-text-1: #252524;
$color-text-2: #ADADAD;

$color-danger: $color-6;

$color-disabled-text: #ADADAD;

$toggle-right: (30rem/$fs);

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "danger": #ff4136
);

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        hd: 1600px,
        fhd: 1900px, // 1920
        qhd: 2500px, // 2560
);
/**
 * Note: for mac
 * 1680, 1440, 1280
 */
$container-max-widths: (
  //sm: 540px,
  //md: 720px,
  //lg: 960px,
  //xl: (1100px + 30px), // padding 15px each
  //hd: (1330px + 30px), // padding 15px each
        qhd: (1920px + 123px),
);

$font-family-base: 'Sukhumvit Set', 'Sarabun', sans-serif;
$font-family-sans-serif: 'Sukhumvit Set', sans-serif;
$font-family-script: 'golden_plains', sans-serif;

$padding-mb: 8vw;

// Modal
// ----------------------------------------
$modal-content-border-width: 0;
$modal-header-padding-y: .2em; // adjusting close button
$modal-xl: 1140px;
$modal-lg: 800px;
$modal-md: 600px; // default if not coupling with .modal-dialog
$modal-sm: 300px;

$modal-inner-padding: (44rem/$fs);


// Typo
// ----------------------------------------
$headings-font-weight: bold;

// Nav
// ----------------------------------------
$nav-height: (86rem/$fs);
$nav-sticky-height: (80rem/$fs);
$nav-height-mb: (60em/$mfs);


// Modal
// ----------------------------------------
$modal-content-border-radius: 0;
$modal-header-border-width: 0;

// Form
// ----------------------------------------
$input-border-color: transparent;
$input-border-radius: 0;
$input-height: (50rem/$fs);

$input-btn-border-width: 0;
$btn-border-radius: 0;
$btn-border-width: 0;

// Utils
// ----------------------------------------
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
